.mainLogin{
    margin: 0px;
    background-color: #434943;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    display: flex;
    background-color: #333333;
    width: 924px;
    height: 600px;
    border: none;
    border-radius: 52px;
    padding: 54px 47px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 17px;
}

.formElements{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logoSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.logoSection img{
    width: 94px;
    height: 94px
}

.logoSection h1{
    font-size: 42px;
    color: #E0E0E0;
}

.inputSectionButton{
    display: flex;
    gap: 43px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input{
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.inputSectoion{
    display: flex;
    gap: 9px;
    flex-direction: column;
}

.inputSectoion p{
    font-size: 17px;
    color: #FFFFFF;
}

.inputSectoion input{
    width: 496px;
    height: 57px;
    background-color: #C3C3C3;
    border: none;
    border-radius: 20px;
    padding: 19px 13px;
    outline: none;
}

.inputSectoion input::placeholder {
    font-size: 14px;
    color: #919191;
}

.inputSectionButton button{
    padding: 0px 20px;
    height: 51px;
    border: none;
    outline: none;
    border-radius: 19px;
    background-color: #468743;
    font-size: 17px;
    color: #000000;
}

.choice{
    display: flex;
    gap:7px;
    font-size: 17px ;
}

.choice p {
    color: #D6D6D6;
}

.choice a {
    color: #FFFFFF;
    font-weight: bold;
}

