.main{
    display: flex;
    justify-content: space-between;
    width: 1450px;
    height: 100vh;
}

.logo{
    display: flex;
    gap: 3px;
    align-items: center;
}


.logo img {
    width: 42px;
    height: 42px;
}

.logo p{
    font-size: 14px;
    font-weight: 800;
    font-variation-settings: "wght" 800;
    color: #333333;
}

.mainLogin {
    padding-bottom: 40px;
    background-color: #E5E5E5;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 1450px;

    display: flex;
    justify-content: flex-start;
}


.form {
    width: 637px;
    height: 449px;
    background-color: #EFEFEF;
    border-radius: 52px;
    box-shadow: 0px 4px 72px 0px #00000025;
}

.formElements{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 54px;
    margin-bottom: 54px;
}

.formElements h1{
    font-size: 42px;
    font-weight: bold;
    color: #333333;
}

.formElements p{
    font-weight: bold;
    color: #333333;
}

.formElements button{
     color: #EFEFEF;
     width: 129px;
}